# ROS 2 workspace directories
build/
install/
log/

# Default python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Swap and backup files
*~
*.swp
*.bak

# VS Code / IDE settings
.vscode/
.idea/
*.suo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
